

<div   style="border: 1.5px solid gray; border-radius: 8px; box-shadow: 8px 8px 16px gray;; padding: 16px; max-width: 600px; margin: auto; background-color: #f9f9f9;">

    <h3 style="color: green;">Thanks for Crating an account on our Platform</h3>
    <p>Click the below link to verufy your account</p>

    <p>
          Confirmation Link:- <a href="{{confirm_link}}" target="_blank">{{confirm_link}}</a>
    </p>
    <br />
    <hr />
    <p>Thanks for using our platform.</p>
    <h2 style="color: rgb(0, 0, 0);">Window Chat</h2>
</div>