certifi
charset-normalizer
Django
django-cors-headers
django-environ
django-filter
django-humanize
djangorestframework
humanize
idna
Markdown
pillow
psycopg2-binary
requests
sqlparse
sslcommerz-lib
tzdata
urllib3
whitenoise