asgiref
certifi
charset-normalizer
crispy-bootstrap5
django
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
django-humanize
djangorestframework
humanize
idna
Markdown
numpy
pillow
psycopg2-binary
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
requests
setuptools
six
sqlparse
sslcommerz-lib
typing_extensions
tzdata
urllib3
wheel
whitenoise
cloudinary
django-cloudinary-storage